.container-modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    opacity: 0.8;
    background: #2b96bf;

}

.container-modal .header{
    position: absolute;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
}