body{
    background-color: #ededed;
    min-width:270px;
    background: url(./back\ site\ 2.jpg) no-repeat;
    /* background: url(./background\ site\ copy.jpg) no-repeat; */
    background-size: cover;
    /* background-position: center center; */
}
#root{
    min-height: 100vh;
}
main{
    background: transparent;
}
header{
    background: url(./header\ site\ 3.jpg) no-repeat;
    background-size: cover;

}

.row {

    --bs-gutter-x: 0rem;
}